 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

 body {
  background: linear-gradient(45deg, rgb(112, 112, 112), whitesmoke);
  background-attachment: fixed;
  margin-top: 20px;
  padding: 10px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo-imagem {
  position: relative;
  width: 30px;
  height: 100px;
  align-items: center;
  display: flex;
  margin-left: 10px;

}

.logo-dois {
  height: 190%;
  margin-left: 13px;
}

.menu li {
  display: inline;
}

.menu li a {
  font-size: 18px;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  font-family: "Alata", sans-serif;
  font-weight: 590;
  padding-right: 20px;
  margin-right: 30px;
  margin-bottom: 80px;
  transition: 0.3s;
}

.menu li a:hover {

  color: #ffffff;
  text-shadow: #000 0 0 10px;
  font-size: 20px;
}

 .container {
   width: 50%;
   margin: 50px auto;
   padding: 20px;
   border: 1px solid transparent;
   border-radius: 5px;
   background-color: rgba(128, 128, 128, 0.212);
   box-shadow:10px 15px 12px  rgba(0, 0, 0, 0.751) ;
   font-family: "Alata",sans-serif;
 }


 form {
   display: flex;
   flex-direction: column;
 }

span{
  color: white;
}


 label {
   margin-top: 10px;
 }


 input,
 textarea {
   padding: 5px;
   margin-bottom: 10px;
 }


 button {
   padding: 10px;
   background-color: #000000;
   color: white;
   border: none;
   border-radius: 5px;
   transition: 0.2s;
   font-weight: bolder;
 }

 button:hover {
  box-shadow: 0 0 15px #000000;
  text-shadow: #f2f2f2 0 0 15px;
   cursor: pointer;
   transform: scale(0.9);
 }


 textarea {
   resize: none;
 }


 .mensagem {
   border-radius: 15px;
   margin-bottom: 10px;
   background-color: #f2f2f2;
 }

 .elemento-arredondado {
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
 }