* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(120deg, rgba(250, 250, 138, 0.769), rgba(132, 224, 255, 0.516));
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo-imagem {
    position: relative;
    width: 50px;
    height: 120px;
    align-items: center;
    display: flex;
    margin-left: 10px;
}

.logo-dois {
    height: 200%;
    margin-left: 10px;
}

.menu li {
    display: inline;
}

.menu li a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-family: "Alata", sans-serif;
    font-weight: 590;
    padding: 20px;
    margin: 0 60px 0 0;
}

.menu li a:hover {
    color: #be3d3d;
    transition: 0.3s;
    font-size: 22px;
    text-shadow: #be3d3d 0 0 15px;
}

.objetivo {
    margin-top: 100px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}

.objetivo p {
    padding-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 20px;
}

.container {
    display: flex;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    margin-left: 3%;
}

.container .texto-um {
    font-size: 16px;
    margin-left: 50px;
    font-size: 20px;
    font-family: "Alata", sans-serif;
    text-align: center;
}

.container-dois {
    padding-top: 68px;
    display: flex;
    align-items: center;
    margin-bottom: 8%;
    margin-left: 23%;
    text-align: center;
}

.container-dois .texto-dois {
    font-size: 18px;
    font-family: "Alata", sans-serif;
    text-align: center;
    line-height: 30px;
}


.imgTamanho {
    margin-top: 30px;
    width: 200px;
    height: 120px;
    padding-left: 80px;
}

.imgTamanho-dois {
    margin-top: 30px;
    width: 200px;
    height: 120px;
    margin-left: 10px;
    margin-bottom: 40px;
}

.bordas {

    width: 800px;
    margin: 0 auto;
    list-style-type: none;
    border: 7px solid;
    border-radius: 50px;
    border-color: orange;
    background-color: orange;
    color: black;
    font-size: 17px;
    font-family: "Alata", sans-serif;
    margin-bottom: 44px;
    padding: 4px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;

}

.missao {
    margin-left: 80px;
    margin-right: 80px;
    font-size: 18px;
    font-family: "Alata", sans-serif;
    text-align: center;
    padding-bottom: 30px;
}

.missao-texto-dois {
    font-size: 18px;
    font-family: "Alata", sans-serif;
    text-align: center;
    margin-bottom: 70px;
}