* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(45deg, rgb(112, 112, 112), whitesmoke);
    background-attachment: fixed;
    margin-top: 20px;
    padding: 10px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo-imagem {
    position: relative;
    width: 30px;
    height: 100px;
    align-items: center;
    display: flex;
    margin-left: 10px;

}

.logo-dois {
    height: 190%;
}

.menu li {
    display: inline;
}

.menu li a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-family: "Alata", sans-serif;
    font-weight: 590;
    padding-right: 20px;
    margin-right: 30px;
    transition: 0.3s;
}

.menu li a:hover {

    color: #ffffff;
    text-shadow: #000 0 0 10px;
    font-size: 20px;
}

h1 {
    font-size: 27px;
    font-family: "Alata", sans-serif;
    margin-top: 50px;
    margin-left: 30px;
}

p {
    margin-left: 30px;
    font-family: "Alata",sans-serif;
}

main .p1 {
    font-family: "Alata", sans-serif;
    font-size: 19px;
    width: 270px;
    text-align: center;
    border: solid 2px orange;
    border-radius: 10px;
    background-color: orange;
    margin:0 auto;
    margin-top: 50px;
    letter-spacing: 5px;
}

.div10 {
  justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.div10 p {
    background-color: orange;
    border: solid 5px orange;
    border-radius: 10px;
    width: 247px;
    height: 100px;
    padding-right: 10px;
    padding-top: 10px;
    font-family: "Alata", sans-serif;
    text-align: center;
}

.div10 .ul-1 {
    list-style: none;
    font-family: "Alata", sans-serif;
    border: solid 5px orange;
    border-radius: 10px;
    background-color: orange;
    width: 245px;
    padding-right: 10px;
    padding-top: 3px;
    margin-bottom: px;
    margin-left: 10px;
    text-align: center;
}

.div20 {
    flex-direction: column;
    margin-top: 5px;
    margin-bottom:30px ;
    height: 200px;
    display: flex;
    margin-left: 100px;
    text-align: center;
    align-items: center;
}

.div20 .texto {
    width: 520px;
    border: solid 2px orange;
    border-radius: 10px;
    background-color: orange;
    text-align: center;
    font-size: 16px;
    font-family: "Alata", sans-serif;
    margin-right: 80px;
    margin-bottom: 20px;
    padding: 50;
    padding-right: 25px;
}

.texto2 {
    width: 530px;
    border: solid 2px orange;
    border-radius: 10px;
    background-color: orange;
    text-align: center;
    font-family: "Alata", sans-serif;
    margin-right: 80px;
    margin-bottom: 100px;
    padding-right: 50px;
}